*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bf-nav-footer-dark:#2c3e50;
    --bf-primary-green:#1abc9c;
    --bf-img-bg-red :#ba4b63;
    --bf-img-bg-lightblue:#1ea4b6;
    --bf-img-bg-dark:#140f0f;
    --bf-img-bg-blue:#1c83c1;
    --bf-img-bg-purple:#0e38b5;
    --bf-img-bg-grey:#ccb2a3;
    --bf-footer-grey:#3a546d;
    --bf-text-white: #ffffff;
    --bf-text-black: #333333;
}

.nav_bar {
    background-color: var(--bf-nav-footer-dark);
    height: 90px;
    min-width: 250px;
}
/* Header */

.container_start {
    background-color: var(--bf-primary-green);
    height: 500px;
    min-width: 250px;
}

.left_line, .right_line {
    background-color: var(--bf-img-bg-dark);
    height: 0.2rem;
    width: 40%;
    border-radius: 2rem;
}

/* Section start */

.img_portfolio {
    height: 300px;
    min-width: 250px;
    max-width: 500px;
    background-size: cover;
    background-position: center;
    align-items: center;
    border-radius: 15px;
}

.img_cabin {
    background-image: url(../img/cabin.png); 
}

.img_cake {
    background-image: url(../img/cake.png);
}

.img_circus {
    background-image: url(../img/circus.png);
}

.img_game {
    background-image: url(../img/game.png);
}

.img_safe {
    background-image: url(../img/safe.png);
}

.img_submarine {
    background-image: url(../img/submarine.png);
}
/* Section portfolio */

.container_about {
    background-color: var(--bf-primary-green);
    height: 700px;
}
/* Section about */

.container_me {
    height: 600px;
}
/* Section contact me */

.row_top {
    background-color: var(--bf-footer-grey);
    color: var(--bf-text-white);
}

.cb-icon {
    border: 1px solid var(--bf-text-white);
    border-radius: 50%;
    margin: 0 0.4rem;
    font-size: 0.8rem;
    aspect-ratio: 1 / 1;


}

.cb-facebook { 
    padding: 0.80rem 1.3rem;
    
}

.cb-google-p {
    padding: 0.80rem 1rem;
}

.cb-twitter {
    padding: 0.9rem 1.13rem;
}

.cb-linkedin {
    padding: 0.90rem 1.18rem;
}
/* Footer top */

.row_bottom {
    background-color: var(--bf-nav-footer-dark);
    height: 100px;
    color: var(--bf-text-white);
    align-items: center;
    font-size: 0.8rem;
}
/* Footer bottom */
/* Footer */